body {
    background-color: #ffe6f2; /* Light pink */
}

header {
    background-color: #ff99cc; /* Medium pink */
    padding: 20px;
}

header h1, header p {
    color: #ffffff; /* White */
}

.container {
    background-color: #ffffff; /* White */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #ff99cc !important; /* Medium pink */
    border-color: #ff99cc !important; /* Medium pink */
    color: #ffffff !important; /* White */
    font-weight: bold;
}

#eventTitle {
    color: #ff66b3; /* Dark pink */
}

#eventDate, #eventDescription {
    color: #666666; /* Gray */
}

footer {
    background-color: #ff99cc; /* Medium pink */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #ffffff; /* White */
}

img {
    border-radius: 10px;
}